<nav>
    <ul class="nav justify-content-center">
      <a class="nav-link" href="/productos"><li class="nav-item" >Juegos</li></a>
      <a class="nav-link"href="/"><li class="nav-item">Agregar Juego</li></a>
    </ul>
</nav>