{{#if games.length}}
<div class="table-responsive">
    <table class="table table-dark">
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Foto</th>
        </tr>
        {{#each games}}
        <tr>
            <td>{{this.name}}</td>
            <td>${{this.price}}</td>
            <td class="align-middle">
                <img class="img-fluid" src={{this.image}} alt={{this.name}}/>
            </td>
        </tr>
        {{/each}}
    </table>
</div>
{{/if}}