{{!-- Form --}}
<form action="/login" method="POST">
  <div class="form-group">
      <label for="username">Usuario:</label>
      <input name="username"  class="form-control" aria-describedby="emailHelp" placeholder="Ingrese su usuario">
  </div>
  <button type="submit" class="btn mt-2 btn-primary">Submit</button>
</form>

