extends layout/base.pug
block content
  h1 Agregar un juego
  form(action="/productos" method="POST")
    div(class="form-group")
      label(for="name") Nombre:
      input(type="text" class="form-control" id="name" name="name" placeholder="Nombre")
    div(class="form-group")
      label(for="price") Precio:
      input(type="text" class="form-control" id="price" name="price" placeholder="Precio")
    div(class="form-group")
      label(for="image") Ingrese la imagen del juego:
      input(type="text" class="form-control" id="image" name="image" placeholder="Imagen del juego")
    button(type="submit" class="btn btn-primary mt-4") Agregar